{"swagger":"2.0","info":{"title":"Default title","description":"PowerPlatform Connector","version":"1.0"},"host":"ccdemo0520.crm11.dynamics.com","basePath":"/api/data/v9.1/","schemes":["https"],"consumes":[],"produces":[],"paths":{"/{Entity}/{Field}/Microsoft.Dynamics.CRM.PicklistAttributeMetadata/OptionSet":{},"/WhoAmI()":{"get":{"responses":{"default":{"description":"default","schema":{}}},"summary":"WhoAmI","operationId":"WhoAmI","parameters":[]}},"/EntityDefinitions(LogicalName='{Entity}')/Attributes(LogicalName='{Field}')/Microsoft.Dynamics.CRM.PicklistAttributeMetadata/OptionSet":{"get":{"responses":{"default":{"description":"default","schema":{"type":"object","properties":{"@odata.context":{"type":"string","description":"@odata.context"},"MetadataId":{"type":"string","description":"MetadataId"},"Options":{"type":"array","items":{"type":"object","properties":{"Value":{"type":"integer","format":"int32","description":"Value"},"Color":{"type":"string","description":"Color"},"IsManaged":{"type":"boolean","description":"IsManaged"},"ExternalValue":{"type":"string","description":"ExternalValue"},"ParentValues":{"type":"array","items":{},"description":"ParentValues"},"MetadataId":{"type":"string","description":"MetadataId"},"HasChanged":{"type":"string","description":"HasChanged"},"Label":{"type":"object","properties":{"LocalizedLabels":{"type":"array","items":{"type":"object","properties":{"Label":{"type":"string","description":"Label"},"LanguageCode":{"type":"integer","format":"int32","description":"LanguageCode"},"IsManaged":{"type":"boolean","description":"IsManaged"},"MetadataId":{"type":"string","description":"MetadataId"},"HasChanged":{"type":"string","description":"HasChanged"}}},"description":"LocalizedLabels"},"UserLocalizedLabel":{"type":"object","properties":{"Label":{"type":"string","description":"Label"},"LanguageCode":{"type":"integer","format":"int32","description":"LanguageCode"},"IsManaged":{"type":"boolean","description":"IsManaged"},"MetadataId":{"type":"string","description":"MetadataId"},"HasChanged":{"type":"string","description":"HasChanged"}},"description":"UserLocalizedLabel"}},"description":"Label"},"Description":{"type":"object","properties":{"LocalizedLabels":{"type":"array","items":{},"description":"LocalizedLabels"},"UserLocalizedLabel":{"type":"string","description":"UserLocalizedLabel"}},"description":"Description"}}},"description":"Options"}}}}},"summary":"OptionSetValues","operationId":"OptionSetValues","parameters":[{"name":"Entity","in":"path","required":true,"type":"string"},{"name":"Field","in":"path","required":true,"type":"string"},{"name":"$select","in":"query","required":true,"type":"string","default":"Options","x-ms-visibility":"internal"}]}}},"definitions":{},"parameters":{},"responses":{},"securityDefinitions":{"undefined":{"type":"oauth2","flow":"accessCode","authorizationUrl":"https://login.windows.net/common/oauth2/authorize","tokenUrl":"https://login.windows.net/common/oauth2/authorize","scopes":{}}},"security":[{"undefined":[]}],"tags":[]}